@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

$card-shadow: none;
$card-header-shadow: none;
$card-background-color: transparent;

@import '../../node_modules/bulma/bulma';
